<h1> managing achievements </h1>
<form action="" method="post">
{% csrf_token %}
<th> <input type="submit" value=" جست و جو"> </th>
<table>
    <thead>
        <tr>
            <th> مقام آورنده </th>
            <th> عنوان افتخار </th>
            <th> سال افتخار </th>
            <th> سطح </th>
            <th> دسته بندی </th>
            <th> دوره </th>
            <th> تصویر مدرک </th>
            <th> لینک ها  </th>
            <th> توضیحات  </th>
        </tr>
    </thead>
    <thead>
        <th> <input type="search" name="owner"> </th>
        <th> <input type="search" name="title"> </th>
        <th> <input type="search" name="year"> </th>
        <th> <input type="search" name="level"> </th>
        <th> <input type="search" name="field"> </th>
        <th> <input type="search" name="dore"> </th>
        <th>  </th>
        <th> <input type="search" name="video_link"> </th>
        <th> <input type="search" name="detail"> </th>
</form>
    </thead>
    <tbody>
        {% for ar in achievement %}
        <tr>
            <th>{{ar.owner.first_name}} {{ar.owner.last_name}}</th>
            <th>{{ar.title}}</th>
            <th>{{ar.year}}</th>
            <th>{{ar.level}}</th>
            <th>{{ar.field}}</th>
            <th>{{ar.dore}}</th>
            <th><img src="{{ ar.pic.url }}" alt=""></th>
            <th>{{ar.video_link}}</th>
            <th>{{ar.detail}}</th>
            <th><th> <a href="{% url 'base:form' 'achievement' ar.id %}"> ویرایش </a> </th></th>
            <th><th> <a href="{% url 'base:delete' 'achievement' ar.id %}"> حذف </a> </th></th>
        </tr>
        {% endfor %}
    </tbody>
</table>
<form action="{% url 'base:form' 'new_achievement' 0 %}" method="get">
    <input type="submit" value=" ثبت رکورد جدید ">
</form>